doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    title Semantiy
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/solarized_dark.min.css")
    link(rel="stylesheet" type="text/css" href="styles/index.css")

  body

    div.ui.sidebar.left.vertical.inverted.menu

    div.ui.black.big.launch.right.attached.fixed.button
      i.content.icon

    div.github.fork.ribbon

    div.pusher

    script(type="text/javascript" src="scripts/bundle.js")
