@charset "utf-8";

/*-------------------------| Common |-------------------------*/

body {
    font-family:'微軟正黑體';
    padding:0; margin:0; overflow-x:hidden;
}

/*-------------------------| Sidebar |-------------------------*/

.sidebar.menu .active.item {
    color: #6DFFFF !important;
}

/*-------------------------| Footer |-------------------------*/

